.card-rotate-y{
    perspective: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card-rotate-y:hover{
    transform: rotateY(180deg);
}
.card-translate{
    perspective: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
}
.card-translate:hover .events-card-front{
    transition: transform 1s;
    transform: translate(0px, 150px)
}
.card-rotate-translate-y{
    perspective: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform-origin: center right;
}
.card-rotate-translate-y:hover{
    transform: translateX(-100%) rotateY(-180deg);
}
.card-rotate-translate-x{
    perspective: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transform-origin: center bottom;
}
.card-rotate-translate-x:hover .blog-card-front{
    transform: translateX(-100%) rotateX(180deg);
}
.card-rotate-x{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card-rotate-x:hover{
    transform: rotateX(180deg);
}
.card-scale-x{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
}
.card-scale-y{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
}
.binary-logo{
    height: 200px;
    width: 200px;
}
.binary-card-front, .binary-card-backside{
    position: absolute;
    align-items: center;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
.events-card-front, .events-card-backside{
    position: absolute;
    align-items: center;
        width: 100%;
        height: 100%;
        transition: transform 1s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
.binary-card-backside{
    transform: rotateY(180deg);
}
.js-card-front, .js-card-backside{
    position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
.js-card-backside{
    transform: rotateX(180deg);
}
.php-card-front, .php-card-backside{
    position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 1s;
}
.card-scale-x:hover .php-card-front{
    transform: scaleX(0);
    transition: 0.5s;
}
.card-scale-y:hover .net-card-front{
    transform: scaleY(0);
    transition: 0.5s;
}
.net-card-front, .net-card-backside{
    position: absolute;
    align-items: center;
        width: 100%;
        height: 100%;
        transition: transform 1s;
}
.net-card-backside{
    transform: scaleY(1);
}
.card-transform-scale{
    height: 100%;
    transition: transform 1s;
    width: 100%;
  }
.qa-card-front, .qa-card-backside{
    position: absolute;
        height: 40%;
        width: 23.1%;
        transition: transform 1s;
}
.card-transform-scale:hover .qa-card-front{
    transform: rotate(90deg) scale(1.5) translateY(-220px);
}
.java-card-front, .java-card-backside{
    position: absolute;
        height: 100%;
        width: 100%;
        transition: transform 1s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
.java-card-backside{
    transform:rotateY(-180deg);
}
.blog-card-front, .blog-card-backside{
    position: absolute;
        height: 100%;
        width: 100%;
        transition: transform 1s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
.card-transform-scale-x{
    height: 100%;
    transition: transform 1s;
    width: 100%;
  }
.contacts-card-front, .contacts-card-backside{
    position: absolute;
        height: 10%;
        width: 23.1%;
        transition: transform 1s;
}
.card-transform-scale-x:hover .contacts-card-front{
    transform: rotate(90deg) scale(1.5) translateY(220px);
}