.grid{
    padding-top: 30px;
    margin-top: 15px;
    width: 100%; 
    box-sizing: border-box;
    background-color: aliceblue;
}
.main{
    overflow: auto;
}
.footer{
    text-align: center;
}
.cards-content{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    min-height: 600px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    display: grid;
}
.binary-card{
    display: flex;
    grid-row: 1/5; 
    grid-column: 1;
}
a.binary-button {
    height: 30px;
    width: 70px;
    justify-content: center;
    display: flex;
    font-size: 25px;
    border-radius: 10px;
    background-color: skyblue;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
a.binary-button:hover {
    background-color: cadetblue;
}
.binary-card-front, .binary-card-backside {
    display: flex;
    justify-content: center;
    background-color: white;
}
.js-card{
    align-items: flex-end;
    display: flex;
    grid-row: 1/7; 
    grid-column: 2;
}
.js-card-front{
    display: flex;
    align-items: flex-end;
    font-size: 100px;
    background-color: yellow;
}
.js-card-front p{
    text-align: flex-end;
}
.js-card-backside{
    background-color: white;
}
.php-card{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    grid-row: 1/4; 
    grid-column: 3/5;
}
.php-card-front{
    font-size: 70px;
    z-index: 4;
    background-color: slateblue;
}
.php-card-backside{
    z-index: 3;
    background-color: white;
}
.java-card{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    grid-row: 7/9; 
    grid-column: 2;
}
.java-card-front{
    color: white;
    font-size: 50px;
    z-index: 3;
    background-color: tomato;
}
.java-card-backside{
    z-index: 2;
    background-color: white;
}
.qa-card{
    display: flex;
    justify-content: center;
    grid-row: 5/9; 
    grid-column: 1;
}
.qa-card-front{
    text-align: center;
    font-size: 100px;
    color: white;
    z-index: 7;
    background-color: springgreen;
}
.qa-card-backside{
    z-index: 6;
    background-color: white;
}
.net-card{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    grid-row: 4/9; 
    grid-column: 3/4;
}
.net-card-front{
    color: white;
    font-size: 100px;
    z-index: 5;
    background-color: purple;
}
.net-card-backside{
    z-index: 4;
    background-color: white;
}
.events-card{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    grid-row: 4/6; 
    grid-column: 4/5;
}
.events-card-front{
    align-items: center;
    color: white;
    font-size: 40px;
    background-color: dodgerblue;
    z-index: 2;
}
.events-card-backside{
    z-index: 1;
    background-color: white;
}
.blog-card{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    grid-row: 6/8; 
    grid-column: 4/5;
}
.blog-card-front{
    color: white;
    font-size: 40px;
    z-index: 6;
    background-color:blue;
}
.blog-card-backside{
    background-color: white;
}
.contacts-card{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    grid-row: 8/9; 
    grid-column: 4/5;
}
.contacts-card-front{
    text-align: center;
    color: white;
    font-size: 20px;
    z-index: 4;
    background-color: darkblue;
}
.contacts-card-backside{
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: white;
}
.icon{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.icon svg{
    height: 30px;
    width: 30px;
}
.icon:hover{
    fill: darkgrey;
}
.messages{
    position: relative;
    bottom: 70px;
    left: 1250px;

    margin: 30px;
    padding: 10px;
    height: 0;
    width: 200px;
    z-index: 20;
    display: grid;
    grid-column: 1;
    justify-content: flex-end;
    align-items: end;
    opacity: 0.6;
}
.message-error{
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}
.message-success{
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 15px;
}