@keyframes move-down{
    from {
        top: -45px;
    }

    to {
        top: 0;
    }
}
header{
    position: fixed;
    top: -45px;
    height: 45px;
    width: 100%;
    background-color: white;
    animation: 0.3s linear 0.5s move-down;
    animation-fill-mode: forwards;
    z-index: 30;
}
.nav-bar{
    height: 45px;
    width: 100%;
}
.menuToogle{
  transition: .8s;
  float: right;
  margin-right: 50px;
  width: 10px;
  visibility: hidden;
}
.menuToogle:hover::first-letter{
    background-color:salmon ;
  }
.menuToogle:first-letter {
  visibility:visible;
  float: right;
  padding: 10px 10px;
  background: lightsalmon;
  border-radius: 100%;
  text-align: center;
  font: 1.5em/0.8 Georgia;
  color: white;
}
.binary{
    height: 40px;
    width: 100px;
    margin-left: 50px;  
    margin-top: 5px;
}
.fa.fa-bell{
    color: darkgrey;
    align-content: center;
    justify-content: center;
    margin-left: 1220px;
    margin-top: 0;
    margin-bottom: 0;
   
}
.fa.fa-bell:hover{
color: gray;
}
.menuToogle-items{
    font-family: "Gilroy";
    padding: 5px;
    font-size: 13px;
    position: relative;
    top: 0;
    left: 1350px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 90px;
    background: white;
    border-radius: 5px;
    visibility: hidden;
}
.username{
    height: 15px;
    border-bottom: solid 1px white;
}
.menuToogle-items ul{
    margin-top: 6px;
}
.menuToogle:hover + .menuToogle-items{
    visibility: visible;
    display: flex;
    z-index: 40;
}
.menuToogle-items:hover{
    visibility: visible;
}